<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose-Flights</h1>
    <a href="/flights">View Flights List</a>

  </body>
</html>
